
This code preprocesses loan data from a CSV file. It splits the dataset into numeric and categorical columns, handles missing values, and encodes categorical data for further analysis or machine learning tasks.

In [ ]:
import pandas as pd
import numpy as np
import re

In [63]:

# Importing the data
df = pd.read_csv("/data/loan-data.csv"
, delimiter=';',encoding="latin-1")

In [64]:
# Splitting the dataset into numeric and categorical columns
columns_strings = df.select_dtypes(include=['object']).columns
columns_numeric = df.select_dtypes(exclude=['object', 'bool']).columns  # Exclude object and bool types

# Handling categorical data
loan_data_strings = df[columns_strings].copy()

# Handling numeric data and filling missing values temporarily
numeric_data = df[columns_numeric]
temporary_fill = numeric_data.max().max() + 1
loan_data_numeric = numeric_data.fillna(temporary_fill)

# Temporary mean values for numeric columns
temporary_mean = loan_data_numeric.mean()

# Display the temporary fill value and mean values
print("Temporary fill value:", temporary_fill)
print("Temporary mean values:\n", temporary_mean)

Temporary fill value: 68616520.0
Temporary mean values:
 id             5.401581e+07
loan_amnt      3.445336e+06
funded_amnt    3.445371e+06
total_pymnt    3.433813e+06
dtype: float64

In [65]:
columns_strings

Index(['issue_d', 'loan_status', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'verification_status', 'url', 'addr_state'],
      dtype='object')

In [66]:
# Manipulating string columns
# Assuming the column names are 'issue_date', 'loan_status', 'term', 'grade', 'sub_grade', 'verification_status', 'addr_state'
loan_data_strings = loan_data_strings.rename(columns={'issue_d': 'issue_date'})
loan_data_strings['issue_date'] = loan_data_strings['issue_date'].str.replace('-15', '')
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
for i, month in enumerate(months, start=1):
    loan_data_strings['issue_date'] = loan_data_strings['issue_date'].replace(month, str(i))
loan_data_strings

,issue_date,loan_status,term,int_rate,installment,grade,sub_grade,verification_status,url,addr_state
0,5,Current,36 months,13.33,1184.86,C,C3,Verified,https://www.lendingclub.com/browse/loanDetail....,CA
1,NaN,Current,36 months,þëè.89,938.57,A,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,NY
2,9,Current,36 months,íîå.53,494.86,B,B5,Verified,https://www.lendingclub.com/browse/loanDetail....,PA
3,7,Current,36 months,þëè.89,300.35,A,A5,Not Verified,https://www.lendingclub.com/browse/loanDetail....,OH
4,8,Current,36 months,19.19,296.78,NaN,E3,Source Verified,https://www.lendingclub.com/browse/loanDetail....,TX
...,...,...,...,...,...,...,...,...,...,...
9995,3,Current,36 months,àâã.18,565.56,B,B1,Source Verified,https://www.lendingclub.com/browse/loanDetail....,WY
9996,4,Current,36 months,ñåï.99,364.57,B,B3,NaN,https://www.lendingclub.com/browse/loanDetail....,OR
9997,6,Current,36 months,þëè.89,NaN,A,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,CA
9998,4,Current,36 months,16.55,354.3,D,D2,Source Verified,https://www.lendingclub.com/browse/loanDetail....,OH
9999,12,Current,36 months,þëè.26,309.97,A,A4,NaN,https://www.lendingclub.com/browse/loanDetail....,IL

In [67]:
# Encoding loan status
status_bad = ['', 'Charged Off', 'Default', 'Late (31-120 days)']
loan_data_strings['loan_status'] = loan_data_strings['loan_status'].apply(lambda x: 0 if x in status_bad else 1)

loan_data_strings

,issue_date,loan_status,term,int_rate,installment,grade,sub_grade,verification_status,url,addr_state
0,5,1,36 months,13.33,1184.86,C,C3,Verified,https://www.lendingclub.com/browse/loanDetail....,CA
1,NaN,1,36 months,þëè.89,938.57,A,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,NY
2,9,1,36 months,íîå.53,494.86,B,B5,Verified,https://www.lendingclub.com/browse/loanDetail....,PA
3,7,1,36 months,þëè.89,300.35,A,A5,Not Verified,https://www.lendingclub.com/browse/loanDetail....,OH
4,8,1,36 months,19.19,296.78,NaN,E3,Source Verified,https://www.lendingclub.com/browse/loanDetail....,TX
...,...,...,...,...,...,...,...,...,...,...
9995,3,1,36 months,àâã.18,565.56,B,B1,Source Verified,https://www.lendingclub.com/browse/loanDetail....,WY
9996,4,1,36 months,ñåï.99,364.57,B,B3,NaN,https://www.lendingclub.com/browse/loanDetail....,OR
9997,6,1,36 months,þëè.89,NaN,A,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,CA
9998,4,1,36 months,16.55,354.3,D,D2,Source Verified,https://www.lendingclub.com/browse/loanDetail....,OH
9999,12,1,36 months,þëè.26,309.97,A,A4,NaN,https://www.lendingclub.com/browse/loanDetail....,IL

In [68]:
# Handling term
loan_data_strings['term'] = loan_data_strings['term'].str.replace(' months', '').replace('', '60')
loan_data_strings['term'] = loan_data_strings['term'].fillna('60').astype(int)

loan_data_strings

,issue_date,loan_status,term,int_rate,installment,grade,sub_grade,verification_status,url,addr_state
0,5,1,36,13.33,1184.86,C,C3,Verified,https://www.lendingclub.com/browse/loanDetail....,CA
1,NaN,1,36,þëè.89,938.57,A,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,NY
2,9,1,36,íîå.53,494.86,B,B5,Verified,https://www.lendingclub.com/browse/loanDetail....,PA
3,7,1,36,þëè.89,300.35,A,A5,Not Verified,https://www.lendingclub.com/browse/loanDetail....,OH
4,8,1,36,19.19,296.78,NaN,E3,Source Verified,https://www.lendingclub.com/browse/loanDetail....,TX
...,...,...,...,...,...,...,...,...,...,...
9995,3,1,36,àâã.18,565.56,B,B1,Source Verified,https://www.lendingclub.com/browse/loanDetail....,WY
9996,4,1,36,ñåï.99,364.57,B,B3,NaN,https://www.lendingclub.com/browse/loanDetail....,OR
9997,6,1,36,þëè.89,NaN,A,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,CA
9998,4,1,36,16.55,354.3,D,D2,Source Verified,https://www.lendingclub.com/browse/loanDetail....,OH
9999,12,1,36,þëè.26,309.97,A,A4,NaN,https://www.lendingclub.com/browse/loanDetail....,IL

In [69]:
# Handling grade and subgrade
loan_data_strings['sub_grade'] = loan_data_strings.apply(
    lambda row: row['grade'] + '5' if row['sub_grade'] == '' else row['sub_grade'], axis=1)
loan_data_strings['sub_grade'] = loan_data_strings['sub_grade'].replace('', 'H1')
loan_data_strings = loan_data_strings.drop(columns=['grade'])
loan_data_strings

,issue_date,loan_status,term,int_rate,installment,sub_grade,verification_status,url,addr_state
0,5,1,36,13.33,1184.86,C3,Verified,https://www.lendingclub.com/browse/loanDetail....,CA
1,NaN,1,36,þëè.89,938.57,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,NY
2,9,1,36,íîå.53,494.86,B5,Verified,https://www.lendingclub.com/browse/loanDetail....,PA
3,7,1,36,þëè.89,300.35,A5,Not Verified,https://www.lendingclub.com/browse/loanDetail....,OH
4,8,1,36,19.19,296.78,E3,Source Verified,https://www.lendingclub.com/browse/loanDetail....,TX
...,...,...,...,...,...,...,...,...,...
9995,3,1,36,àâã.18,565.56,B1,Source Verified,https://www.lendingclub.com/browse/loanDetail....,WY
9996,4,1,36,ñåï.99,364.57,B3,NaN,https://www.lendingclub.com/browse/loanDetail....,OR
9997,6,1,36,þëè.89,NaN,A5,Source Verified,https://www.lendingclub.com/browse/loanDetail....,CA
9998,4,1,36,16.55,354.3,D2,Source Verified,https://www.lendingclub.com/browse/loanDetail....,OH
9999,12,1,36,þëè.26,309.97,A4,NaN,https://www.lendingclub.com/browse/loanDetail....,IL

In [72]:
# Converting subgrade to numeric

# Ensuring all values in the sub_grade column are strings
loan_data_strings['sub_grade'] = loan_data_strings['sub_grade'].astype(str)

# Getting unique subgrades and creating a dictionary for mapping
unique_subgrades = loan_data_strings['sub_grade'].unique()
subgrade_dict = {subgrade: i+1 for i, subgrade in enumerate(sorted(unique_subgrades))}

# Mapping subgrades to numeric values
loan_data_strings['sub_grade'] = loan_data_strings['sub_grade'].map(subgrade_dict)

loan_data_strings

,issue_date,loan_status,term,int_rate,installment,sub_grade,verification_status,url,addr_state
0,5,1,36,13.33,1184.86,5,Verified,https://www.lendingclub.com/browse/loanDetail....,CA
1,NaN,1,36,þëè.89,938.57,32,Source Verified,https://www.lendingclub.com/browse/loanDetail....,NY
2,9,1,36,íîå.53,494.86,2,Verified,https://www.lendingclub.com/browse/loanDetail....,PA
3,7,1,36,þëè.89,300.35,32,Not Verified,https://www.lendingclub.com/browse/loanDetail....,OH
4,8,1,36,19.19,296.78,16,Source Verified,https://www.lendingclub.com/browse/loanDetail....,TX
...,...,...,...,...,...,...,...,...,...
9995,3,1,36,àâã.18,565.56,33,Source Verified,https://www.lendingclub.com/browse/loanDetail....,WY
9996,4,1,36,ñåï.99,364.57,35,NaN,https://www.lendingclub.com/browse/loanDetail....,OR
9997,6,1,36,þëè.89,NaN,32,Source Verified,https://www.lendingclub.com/browse/loanDetail....,CA
9998,4,1,36,16.55,354.3,9,Source Verified,https://www.lendingclub.com/browse/loanDetail....,OH
9999,12,1,36,þëè.26,309.97,31,NaN,https://www.lendingclub.com/browse/loanDetail....,IL

In [73]:
# Encoding verification status
loan_data_strings['verification_status'] = loan_data_strings['verification_status'].apply(
    lambda x: 0 if x == '' or x == 'Not Verified' else 1)

In [86]:
# Handling state address
states_west = ['WA', 'OR','CA','NV','ID','MT', 'WY','UT','CO', 'AZ','NM','HI','AK']
states_south = ['TX','OK','AR','LA','MS','AL','TN','KY','FL','GA','SC','NC','VA','WV','MD','DE','DC']
states_midwest = ['ND','SD','NE','KS','MN','IA','MO','WI','IL','IN','MI','OH']
states_east = ['PA','NY','NJ','CT','MA','VT','NH','ME','RI']
loan_data_strings['addr_state'] = loan_data_strings['addr_state'].apply(
    lambda x: 1 if x in states_west else (2 if x in states_south else (3 if x in states_midwest else (4 if x in states_east else 0))))

loan_data_strings

,issue_date,loan_status,term,int_rate,installment,sub_grade,verification_status,url,addr_state
0,5,1,36,13.33,1184.86,5,1,https://www.lendingclub.com/browse/loanDetail....,0
1,NaN,1,36,þëè.89,938.57,32,1,https://www.lendingclub.com/browse/loanDetail....,0
2,9,1,36,íîå.53,494.86,2,1,https://www.lendingclub.com/browse/loanDetail....,0
3,7,1,36,þëè.89,300.35,32,0,https://www.lendingclub.com/browse/loanDetail....,0
4,8,1,36,19.19,296.78,16,1,https://www.lendingclub.com/browse/loanDetail....,0
...,...,...,...,...,...,...,...,...,...
9995,3,1,36,àâã.18,565.56,33,1,https://www.lendingclub.com/browse/loanDetail....,0
9996,4,1,36,ñåï.99,364.57,35,1,https://www.lendingclub.com/browse/loanDetail....,0
9997,6,1,36,þëè.89,NaN,32,1,https://www.lendingclub.com/browse/loanDetail....,0
9998,4,1,36,16.55,354.3,9,1,https://www.lendingclub.com/browse/loanDetail....,0
9999,12,1,36,þëè.26,309.97,31,1,https://www.lendingclub.com/browse/loanDetail....,0

In [88]:
loan_data_strings.columns

Index(['issue_date', 'loan_status', 'term', 'int_rate', 'installment',
       'sub_grade', 'verification_status', 'url', 'addr_state'],
      dtype='object')

In [95]:
loan_data_strings['sub_grade'] = loan_data_strings['sub_grade'].astype(str).fillna('H1')  # Fill NaN with 'H1'
loan_data_strings['verification_status'] = loan_data_strings['verification_status'].fillna('Not Verified')
loan_data_strings['addr_state'] = loan_data_strings['addr_state'].fillna('Unknown')
loan_data_strings['issue_date'] = loan_data_strings['addr_state'].fillna(0)

In [97]:
# Handling currency exchange
exchange_rates = pd.read_csv("/data/EUR-USD.csv", delimiter=',', usecols=[3])
exchange_rates = exchange_rates.values.flatten()

In [103]:
loan_data_strings['issue_date'] = loan_data_strings['issue_date'].fillna(0).apply(lambda x: exchange_rates[int(x) - 1] if x > 0 else exchange_rates.mean())

# Adding exchange rates to numeric data
loan_data_numeric['exchange_rate'] = loan_data_strings['issue_date']

loan_data_numeric

,id,loan_amnt,funded_amnt,total_pymnt,exchange_rate,loan_amnt_EUR,funded_amnt_EUR,total_pymnt_EUR
0,48010226,35000.0,35000.0,9452.96,1.128796,3.100650e+04,31006.501938,8374.377787
1,57693261,30000.0,30000.0,4679.70,1.128796,2.657700e+04,26577.001661,4145.746489
2,59432726,15000.0,15000.0,1969.83,1.128796,1.328850e+04,13288.500831,1745.072506
3,53222800,9600.0,9600.0,1793.68,1.128796,8.504641e+03,8504.640532,1589.021211
4,57803010,8075.0,8075.0,1178.51,1.128796,7.153643e+03,7153.642947,1044.042074
...,...,...,...,...,...,...,...,...
9995,42974433,18000.0,18000.0,5639.24,1.128796,1.594620e+04,15946.200997,4995.803028
9996,45424654,11300.0,11300.0,3274.86,1.128796,1.001067e+04,10010.670626,2901.198655
9997,50415990,10000.0,10000.0,2185.64,1.128796,8.859001e+03,8859.000554,1936.258597
9998,46154151,68616520.0,10000.0,3199.40,1.128796,6.078738e+07,8859.000554,2834.348637
9999,66055249,10000.0,10000.0,301.90,1.128796,8.859001e+03,8859.000554,267.453227

In [104]:

# Converting USD to EUR
columns_dollar = ['loan_amnt', 'funded_amnt', 'total_pymnt', 'exchange_rate']
for col in columns_dollar:
    loan_data_numeric[col + '_EUR'] = loan_data_numeric[col] / loan_data_numeric['exchange_rate']
loan_data_numeric = loan_data_numeric.rename(columns={col: col + '_USD' for col in columns_dollar})

In [106]:


# Combining numeric and string data
loan_data_combined = pd.concat([loan_data_numeric, loan_data_strings], axis=1)

# Saving the final DataFrame to CSV
loan_data_combined.to_csv("data/loan-data-preprocessed.csv", index=False)

loan_data_combined

,id,loan_amnt_USD,funded_amnt_USD,total_pymnt_USD,exchange_rate_USD,loan_amnt_EUR,funded_amnt_EUR,total_pymnt_EUR,exchange_rate_EUR,issue_date,loan_status,term,int_rate,installment,sub_grade,verification_status,url,addr_state
0,48010226,35000.0,35000.0,9452.96,1.128796,3.100650e+04,31006.501938,8374.377787,1.0,1.128796,1,36,13.33,1184.86,5,1,https://www.lendingclub.com/browse/loanDetail....,0
1,57693261,30000.0,30000.0,4679.70,1.128796,2.657700e+04,26577.001661,4145.746489,1.0,1.128796,1,36,þëè.89,938.57,32,1,https://www.lendingclub.com/browse/loanDetail....,0
2,59432726,15000.0,15000.0,1969.83,1.128796,1.328850e+04,13288.500831,1745.072506,1.0,1.128796,1,36,íîå.53,494.86,2,1,https://www.lendingclub.com/browse/loanDetail....,0
3,53222800,9600.0,9600.0,1793.68,1.128796,8.504641e+03,8504.640532,1589.021211,1.0,1.128796,1,36,þëè.89,300.35,32,0,https://www.lendingclub.com/browse/loanDetail....,0
4,57803010,8075.0,8075.0,1178.51,1.128796,7.153643e+03,7153.642947,1044.042074,1.0,1.128796,1,36,19.19,296.78,16,1,https://www.lendingclub.com/browse/loanDetail....,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,42974433,18000.0,18000.0,5639.24,1.128796,1.594620e+04,15946.200997,4995.803028,1.0,1.128796,1,36,àâã.18,565.56,33,1,https://www.lendingclub.com/browse/loanDetail....,0
9996,45424654,11300.0,11300.0,3274.86,1.128796,1.001067e+04,10010.670626,2901.198655,1.0,1.128796,1,36,ñåï.99,364.57,35,1,https://www.lendingclub.com/browse/loanDetail....,0
9997,50415990,10000.0,10000.0,2185.64,1.128796,8.859001e+03,8859.000554,1936.258597,1.0,1.128796,1,36,þëè.89,NaN,32,1,https://www.lendingclub.com/browse/loanDetail....,0
9998,46154151,68616520.0,10000.0,3199.40,1.128796,6.078738e+07,8859.000554,2834.348637,1.0,1.128796,1,36,16.55,354.3,9,1,https://www.lendingclub.com/browse/loanDetail....,0
9999,66055249,10000.0,10000.0,301.90,1.128796,8.859001e+03,8859.000554,267.453227,1.0,1.128796,1,36,þëè.26,309.97,31,1,https://www.lendingclub.com/browse/loanDetail....,0